{
    "presets": ["@babel/preset-env","@babel/preset-react"],
    "env":{
      "test": {
        "plugins": ["istanbul"]
      }
    },
    "plugins": [
      "transform-object-rest-spread",
      "transform-async-to-generator"
    ]
  }