{
  "presets": [
    "env",
    "react"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": [
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-runtime",
    "transform-class-properties"
  ]
}
