#form-back{
    background-image: url('../img/02.jpg');
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
}

.h-500{
    min-height:500px;
}

.h-550{
    min-height: 515px
}
.container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}
#wrap{
    min-height: 100vh;
}

.pos-rel{
    position: relative;
}

.hidden{
    display: none;
}

.center{
    width: 400px;
    margin: 80px auto;
}

#signup{
    opacity: 1;
}

#login{
    opacity: 1;
}

.display-1{
    font-size: 4rem;
}

.display-2{
    font-size: 3rem;
}

.display-4{
    font-size: 1.5rem;
}
.display-5{
    font-size: 1rem
}

.lead{
    font-size: 18px;
}

.p-large{
    font-size: 18px;
}

.brand-span{
    color:#2E8B57;
}

.form-rule{
    border: 0;
    border-bottom: 1px solid #3CB371;
    background: #2E8B57
}

.btn{
    cursor: pointer;
    border-radius: 3px;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.btn-sm{
    font-size: 15px;
}

.btn-success{
    background-color: #3CB371;
    color: white;
}

.btn-danger{
    background-color:#FF4500;
    color: white
}

.btn-danger:hover{
    background-color: #FF0000;
}

.btn-outline-success{
    border: 1px solid #2E8B57;
    color: #2E8B57;
}
.btn-outline-success:hover{
    color: white;
    background-color: #2E8B57;
}

.btn-success:hover{
    background-color: #2E8B57;
}

.btn-block{
    min-width: 100%;
}

.btn-default{
    background-color: #2F4F4F;
    color: #2E8B57
}

.btn-default:hover{
    background-color: black;
}
.btn:disabled{
    background-color: rgb(143, 140, 140);
    cursor:text;
}
.banner{
    background-image: url('../img/13.jpg');
    background-size: cover;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 200px;
     padding: 50px;
}
.alert{
    border-radius: 5px;
    padding: 2px 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 8px 2px rgba(0,0,0,0.1);
}

.box{
    border-radius: 5px;
    background-color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.1);
}

.box2{
    border-radius: 5px;
    background-color: white;
}

.box ul{
    padding-left: 0;
    margin: 10px 0 0;
}

.box li{
    display: inline;
    margin-left: 0;
    margin-right: 10px;
    color: #A9A9A9
}

.box .display-3{
    font-size: 1rem
}

.box li i{
    color: #3CB371;    
}

.border-success{
    border-left: 3px solid green;
    border-bottom: 3px solid green;
    padding:0 10px;
    display: inline;
}
 
/*flex box*/
.content-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.w-90{
    width: 90%;
}

.w-70{
    width: 70%;
}

.w-20{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-40{
    width: 40%;
}

.w-20 li{
    margin-bottom: 5px;
}

.w-20 a{
    color: #708090
}

.w-20 a:hover{
    color: black
}

/*displays*/
.d-i-block{
    display: inline-block;
}

.d-inline{
    display: inline;
}

.d-block{
    display: block;
}
.right{
    float: right;
}

/*Animation classes*/
.fadeOut{
    animation: fadeOut 2s 0s;
}

.fadeIn{
    animation: fadeIn 2s 0s;
}

.slideInLeft{
    animation: slideInLeft 1s ;
}

.slideOutLeft{
    animation: slideOutLeft 1.5s ;
}

.slideInUp{
    animation: slideInUp 1s;
}

.slideOutDown{
    animation: slideOutDown 1s;
}

.fadeInDown {
    -webkit-animation: fadeInDown 1s;
    animation: fadeInDown 1s;
}

.slide{
    animation: slide 1s ;
}

/* delays */
.delay1{
    animation-delay: 2s;
}

#nav-sm{
    position: fixed;
    background-color: #fff;
    height: 100%;
    top: 0;
    left: 0;   
    padding-top: 30px;
}

.close{
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 30px;
    color: #3CB371;
}

.close:hover{
    color: #2E8B57
}

.foot{
   position:absolute;
   bottom:0;
   width: 100%;
}

@media(min-width:1850px){
 
.modal-body{
    bottom: 500px;
    animation: slideInUpLarge  1.5s ;
}
}

@media(max-width:1102px){
    .w-40{
        width: 35%
    }
}

@media(max-width:1026px){
    .w-40{
        width: 30%
    }
    .w-40 .display-4{
        font-size: 1.2rem
    }
    #comments-modal-body{
        width: 80%;
        left: 7%;
    }
}

@media(max-width:970px){
  #split .content-container:first-child{
        flex-direction: column
    }

    .box{
        width: 70%
    }

    .mt-150  {
        margin-top: 10px;
    }

    .w-40{
        width: 70%
    }

    .display-4{
        font-size: 1.5rem
    }
}

@media(min-width:723px){
    #nav-sm{
        display: none;
    }
}

@media(max-width:852px){
    .container{
        width: 90%;
        padding:0 20px 20px;
    }

    .box{
        width: 90%
    }

    .w-70{
        width: 100%
    }

    .w-20{
        width: 50%;
    }

    .w-40{
        width: 90%
    }
}

@media(max-width:723px){
    .nav-toggle{
        display: inline-block;
    }

    .collapse{
        display: none;
    }

    #nav-sm{
        width: 50%
    }

    .aside{
        display: none;
    }

    .w-70{
        width: 100%
    }

    .w-50{
        width: 100%;
    }
    .w-90{
        width: 83%;
    }
    .modal-body,
    #comments-modal-body{
        width: 80%;
        left: 5%;
    }
  
}

@media(max-width:640px){

    .overlay{
        padding: 10px;
        height: 100%;
    }

    .display-1{
        font-size: 3rem;
    }

    .display-2{
        font-size: 2rem;
    }  

    .content-container{
        flex-direction: column;        
    }

    .box2{
        margin-bottom: 20px;
        width: 60%
    } 
}

@media (max-width:500px){
    .display-1{
        font-size: 2.5rem;
    }

 .box li{
     margin-right: 5px;
     font-size: 14px;
 }

 .box .display-3{
     font-size: 0.8rem
 }

 #nav-sm{
    width: 80%;
  }

  .box2{
      width: 70%
  }

  .w-40{
    width: 100%
}

.display-4{
    font-size: 1rem
}
}

@media (max-width:410px){   
  
    .text-sm{
        font-size: 12px;
    }
   #form-back{
       padding:0 20px
   }

    .center{
        width: 280px;
    }
    
    .brand{
        font-size: 1.5em;
    }

    h2{
        font-size: 1.2em
    }

    .overlay{
        padding: 20px
    }

    .display-1{
        font-size: 1.7rem;
    }

    .display-2{
        font-size: 1.5rem;
    }

    .lead{
        font-size: 13px
    }

    .p-large{
        font-size: 13px
    }

    .md-100{
        margin-left: 20px;
    }
   
    .box2{
        width: 100%
    }
}

@media(max-width:320px){
    .md-100{
        margin-left: 0px;
    }

    .display-3{
        font-size: 1rem
    }

    .pr-1{
     padding-right: 0px;
    }
}

/*Key-frames*/
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideInLeft{
    0%{
        left:-100%;
    }
    100%{
        left:0;
    }
}

@keyframes slideOutLeft{
    from{
        left: 0;

    }
    to{
        left: -100%;
    }
}

@keyframes slideInUp {
    from{
        bottom: -100%;
    }
    to{
        bottom: 100px;
    }
}

@keyframes slideOutDown{
    from{
        bottom: 0;
    }
    to{
        bottom: -100%;
    }
}

@keyframes slideInUpLarge {
    from{
        bottom: -500%;
    }
    to{
        bottom: 500px;
    }
}

@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

@keyframes slide{
      from{
          height: 0;
      }
      to{
          height: 50px;
      }
}

