body{
    margin:0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
a{
    text-decoration-line: none;
    color: #eee;
}
#form-back{
    background-image: url('../img/02.jpg');
    background-position: center;
    background-attachment: fixed;
}
.container{


}
.hidden{
    display: none;
}
.center{
    width: 400px;
    margin: 80px auto;

}
#signup{
    opacity: 1;
}
#login{
    opacity: 1;
}
.form-group{
    border-radius: 5px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.8);
}
/*layout styles*/
.mb-0{
    margin-bottom: 0;
}
.mb-1{
    margin-bottom: 10px;
}
.mt-0{
    margin-top: 0;
}
.ml-2{
    margin-left: 20px;
}
/*Text styles*/
.text-center{
    text-align: center;
}
.text-white{
    color: white
}
.text-success{
    color:#3CB371;
}
.text-success:hover{
    color: #2E8B57;
}
.lead{
    font-size: 18px;
}
.brand{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.brand-span{
    color:#2E8B57;
}
/*form control styles*/

.input-area{
    margin-bottom: 25px;
}
.form-input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

    font-size: 0.9em;
    min-width: 100%;
    box-sizing: border-box;

}
.form-input:focus{
    border: 1px solid rgb(103, 197, 144);

}
.form-rule{
    border: 0;
    border-bottom: 1px solid #3CB371;
    background: #2E8B57
}
.btn{
    cursor: pointer;
    font-size: 1em;
    border-radius: 3px;
    border: none;
    padding: 10px;
}

.btn-success{
    background-color: #3CB371;
    color: white;
}
.btn-success:hover{
    background-color: #2E8B57;

}
.btn-block{
    min-width: 100%;
}

/*Animation classes*/
.fadeOut{
    animation: fadeOut 2s 0s;
}
.fadeIn{
    animation: fadeIn 2s 0s;
}

@media (max-width:410px){
    body{
        padding: 0 10px;
    }
    .center{
        width: 280px;
    }
    .brand{
        font-size: 1.5em;
    }
    h2{
        font-size: 1.2em
    }
}

/*Key-frames*/
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}